body{
    background-color: lightgray;
    position: relative;
}
.top-box{
    background-color: rgba(25, 19, 19, 0.649);
    height:150px;
    width:100%;
    position: relative;
    box-sizing: border-box;
    padding: 0;
}
.middle-box{
    position:relative;
    background-color: white;
    height: 100vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    /* align-items: center;
    justify-content: center; */
}
.bottom-box{
    position: relative;
    background-color: black;
    height: 100px;
    width: 75%;
    margin-left: auto;
    margin-right:auto;
}
